/* Element Styling */
html,body{
  font-family: Verdana;
  margin: 0px;
  padding: 0px;
  /* margin-top: 56px; */
}
/* Element Styling Ends Here */

/* Nav Bar Styling */
.nav-bar{
  border-top: 1px solid black;
  display: flex;
  justify-content: space-between;
  height: 62px;
  background-color: #ffffff;
}

.nav-bar__header{
  margin-left: 80px;
  color: #335576;
  font-size: 21px;
}

.nav-bar__list-box{
  display: flex;
}

.nav-bar__list{
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 80px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.nav-bar__list-item{
  display: flex;
  text-decoration: none;
  list-style: none;
  color: black;
  padding-bottom: 4px;
}

.nav-bar__list-item--underline{
  text-decoration: underline;
  text-decoration-color: #DB7A4E;
  text-decoration-thickness: 4px;
  text-underline-offset: 12px;
}
/* Nav Bar Styling Ends Here */

/* Footer Styling */
.footer-section{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10vh;
  height: 225px;
  background-color: #FEFAF5;
  color: #335576;
  padding-left: 225px;
  padding-right: 184px;
}

.footer-section__contact{
  display: flex;
  flex-direction: column;
}

.footer-section__headers{
  margin: 0px;
  font-size: 27px;
}

.footer-section__sub-headers{
  color: #DB7A4E;
  margin-bottom: 10px;
  font-weight: 400;
}

.footer-section__text-size{
  margin: 0px;
  font-size: 17px;
  font-weight: 500;
}



.footer-section__email--link{
  text-decoration: none;
  color: #335576;
  font-size: 17px;
}

.footer-section__hours{
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
}


.footer-section__hours-content{
  display: flex;
    justify-content: center;
    gap: 35px
}
/*  */
.footer-section__social{
  display: flex;
  flex-direction: column;
  width: 175px;
}

.footer-section__social-header{
  margin-bottom: 30px;
}

.footer-section__social-content{
  display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 12px;
    width: 155px
}

.footer-section__social-item{
  display: flex;
  width: 40px;
  
}

.footer-section__social-img{
  width: 27px;
}

.footer-section__social-img--facebook{
  width: 15px;
}

.footer-section__social-img--twitter{
  width: 15px;
}

.footer-section__twitter--link{
  height: 28px;
}

/* Footer Styling Ends Here */